.btn {
  cursor: pointer;
  outline: none;
}

.btn-link,
.btn-submit,
.btn-reset {
  display: inline-block;
  font-size: 13px;
  @include ubuntu(medium);
  color: #fff;
  padding: 12px 15px;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;

}

.btn-link_order,
.btn-submit {
  background-color: $red;

  &:hover {
    background-color: #c1401e;
  }
}

.btn-link_reviews {
  background-color: $darkgrey;

  &:hover {
    background-color: darken($darkgrey, 15%);
  }
}

.btn-reset {
  background: none;
  text-transform: initial;
  margin-left: 5px;

  &:hover {
    background-color: darken($darkgrey, 15%);
  }

  &:active {
    background-color: $darkgrey;
  }
}