.header__nav.mobile {
  display: block;
  height: 100%;
  width: 100%;
  background-color: $darkgrey;
  overflow: hidden;
  opacity: 0.99;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition-duration: 0.3s;

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
    margin-right: 0;
  }

  .nav__item {
    flex-direction: column;

    &:not(:last-child):after {
      @include circle(6px, #fff);
      margin: 4vh 0;
    }
  }
  .nav__link {
    @include ubuntu(regular);
    font-size: 6vw;
    &:hover {
      color: #ccc;
    }
  }
}

