#mobile-menu__overlay{
  height: 0;
  width:100%;
  background-color: rgba($darkgrey, 0.99);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  bottom: -100%;
  right: 0;
  transition-duration: 0.5s;
  cursor: pointer;
  display: block;
  z-index: 0;
}
#mobile-menu__overlay.opened{
  height: 100%;
}

.header__nav.mobile {
  opacity: 1;

  }

