.menu{
    background-image: url("../img/bg/menubg.jpg");
    @include cover();
}

.menu__title{
    position: absolute;
    top: rem(113px);
    left: rem(93px);

    @include tablets(){
        left: rem(20px);
    }
}

.menu-acco{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

  }

.menu-acco__item{
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;

      &.active{
        .menu-acco__title_dropdown{
            color: $yellow;
        }

        .menu-acco__dropdown-text{
           width: 60vw;

          @include tablets{
            width: 65vw;
          }

          p{
              opacity: 1;
              visibility: visible;
          }
        }
    }
  }

.menu-acco__dropdown-text {
  @include ubuntu(light);
  line-height: 24px;
  background-color: rgba($darkgrey, 0.8);
  width: 0;
  transition: width 0.3s;

  p {
    padding: 55px 33px;
    opacity: 0;
    transition: opacity 0.1s 0.2s;
    visibility: hidden;

    @include smallphones {
      line-height: 1.5;
      padding: 10px 10px;

    }
  }
}
  .menu-acco__title-container {
    width: rem(80px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &_meat {
      background-image: url("../img/bg/menu_meat.jpg");
      @include cover();
    }

    &_vega {
      background-image: url("../img/bg/menu_vega.jpg");
      @include cover();
    }

    &_diet {
      background-image: url("../img/bg/menu_diet.jpg");
      @include cover();
    }

    &:hover {
      color: $yellow;
    }

    @include tablets() {
      align-items: flex-end;
    }
  }

  .menu-acco__title {
    @include gagalin();
    font-size: 40px;
    transform: rotate(-90deg);
    white-space: nowrap;

    @include tablets() {
      transform: rotate(-90deg) translateX(60%);
    }

    @include smallphones() {
      font-size: 30px;
    }
  }




